[2016-02-25 10:03] sentika opened #1 "Provide source maps support"
There is no source map after using extract. For example in this chain:
style/url!file!extract!css

[2016-03-04 22:26] mikeycgto opened #2 "Extracting results from scss files?"
How would I use this to extract the results from packed scss files?

[2016-03-16 07:15] e-cloud commented on #2
same issue:

For my case, I require `app.scss` in `app.js`, and import `angular-toastr.css` in `app.scss`. And then, here is what happened.

[code]

[2016-05-03 16:19] jhnns commented on #1
That's true. Source maps are currently not supported. I'm working on that.

[2016-05-03 17:30] jhnns opened #4 "Add examples with html-webpack-plugin"

[2016-05-03 17:44] jhnns opened #5 "Add example with named chunks"
[code]

[2016-05-11 01:11] heptahedron opened #6 "Supporting js extraction?"
I am new to webpack and might have a slippery grasp on how this all works exactly, but seeing as my `index.html` had a `<script src="js/main.js">` tag in it, I figured it wouldn't be unreasonable for the loader to see this tag and extract the source into the build directory appropriately, but discovered that it was just evaluating the contents of it instead and outputting nothing, causing build er

[2016-05-11 03:27] heptahedron commented on #6
I forked, made the change, and all tests are still passing. Pull request to follow.

[2016-05-20 15:41] beshanoe opened #8 "extract-loader and hot-reload"
I've started using extract-loader in my project and noticed that webpack-dev-server stopped reload page after changes've been made to my html files. I worked when I used plain file-loader. I'm using the same config as you provided in example:
[code]

[2016-06-02 13:35] jhnns commented on #8
I don't think that this is related to the extract-loader because most loaders are not involved in hot-reloading (except the style-loader or the react-hot-loader, for instance). But it depends on your setup. Could you provide a minimal example that demonstrates the problem?

[2016-06-02 13:37] beshanoe commented on #8
I've solved the problem. It didn't work because of "file?name=[name].[ext]" line. When I replaced "name" with "hash", hot-reloading started working properly

[2016-06-02 13:48] jhnns commented on #8
Thanks for sharing that.

[2016-06-02 13:48] #8 closed

[2016-07-08 15:27] lennerd commented on #2
@e-cloud Did you found a solution for this?

[2016-07-16 05:04] leonid-bauxy commented on #2
try to prefix your `@import` path with `~`. Helped me.

Example:

Before:
[code]

After:
[code]

[2016-07-20 07:53] angryobject opened #9 "Not working with html-loader interpolation"
This loader configuration fails with `TypeError: require(...) is not a function`.

[code]

[code]

However, if i remove `extract` loader - no errors.

[2016-08-23 02:57] woohling opened #10 "Support extract jade ?"
I'm using Jade, and can I compile my index.jade to index.html then extract it ?
Here's my trial but failed:
`var indexHtml = __dirname + '/src/views/index.html';`
` {
                test: indexHtml,
                loaders: [
                    "file?name=[name].[ext]",
                    "extract",
                    "html",
                    "jade"
                ]
            }`
Any Help

[2016-08-31 23:52] wordofchristian opened #11 "Doesn't work with webpack-dev-server"
The loader doesn't seem to extract files when using with webpack-dev-server.

[2016-09-23 11:30] fabianonunes commented on #10
You need to extract the jade output before passing to html-loader.

`loaders: ['file?name=[name].html', 'extract', 'html', 'extract', 'jade']`

[2016-10-28 00:30] jhnns commented on #11
I'm using this loader with webpack-dev-server. Please provide a simple example that demonstrates your problem. I'll reopen it then.

[2016-10-28 00:30] #11 closed

[2016-10-28 00:37] jhnns commented on #10
That should work – provided that you included the `index.html` anywhere in your bundle.

[2016-11-07 09:50] RobertoUa commented on #1
How long do you think it's gonna take?

[2016-11-17 14:45] jhnns commented on #1
I'm sorry, too much work currently. If anyone is interested, please go ahead :). The code is fairly simple and I can give you support.

[2016-11-18 12:53] jpommerening commented on #10
Late to the party, but: The [`jade-loader`](https://www.npmjs.com/package/jade-loader) (as well as the [`pug-loader`](https://github.com/pugjs/pug-loader) that replaced it) returns a template function that you have to call with the template substitutions you want to make. (See above links.)

The HTML loader expects a string of HTML as input, so it's not able to process the result (which is JavaScr

[2016-11-25 00:32] jhnns commented on #6
I'm sorry, the extract-loader has really been designed to cope with the css-loader and the html-loader. If you're doing more sophisticated stuff, you're better off with the extract-text-webpack-plugin.

Or did the proposed change (from your PR) help your use-case?

[2016-11-25 00:45] jhnns commented on #10
@jpommerening Wow, that's genius. Would you be open to add a test/example for that to the extract-loader? :D

[2016-12-07 10:43] ukch commented on #1
@jhnns I can work on it if you show me where to start. (I'm pretty new to Webpack development though)

[2016-12-20 15:39] sime opened #15 "index-html example: ERROR in Unexpected token import @ multi main"
The `index-html` example fails to run, or I might be missing something.

[code]

[2017-01-07 09:08] korya opened #16 "Loader fails to run along LoaderOptionsPlugin() in webpack2"
When I use `extract-loader` along `LoaderOptionsPlugin()` in webpack2 it constantly fails with the following error:

[code]

Versions:
[code]

Relevant parts of my config
[code]

As soon as I remove (delete or comment out) the `new webpack.LoaderOptionsPlugin({...})` lines, everything works as expected.

[2017-01-07 09:11] korya commented on #16
I found another workaround for the problem: add `options.output` property to object provided to `LoaderOptionsPlugin()`. That is:

[code]

[2017-01-14 19:28] antarasi commented on #2
You can just append mainCss var with `"sass-loader"` right after `"css-loader"`. For example:
[code]
and it works out of the box (and HMR as well). Remember to change extention from `file-loader?name=[name].[ext]` to `file-loader?name=[name].css` and install sass-loader (`npm install --save-dev sass-loader`).

[2017-02-04 14:01] maryo opened #17 "Extracting from deep modules hierarchy"
https://github.com/peerigon/extract-loader/issues/9

[code]
The given module is expected to just return a string **without requiring further modules**.
So it works when there is no deep hierarchy. So for example when using the interpolate feature of html-loader then something like `${require('partials/header.html')}` from inside `index.html` works but when there is another require inside `partials

[2017-02-04 22:27] maryo commented on #17
OK. I've solved it bu a VERY UGLY HACK.
https://github.com/maryo/webpack-extract-bundle-text/blob/master/index.js

It does not support hot reloading yet (I'd need to create a loader also and probably solve it simmirarly like this loader does it, just recursively).

[2017-02-05 02:22] VladimirGrenaderov commented on #17
You can add require inside runModule:
`
    var sandbox = {
        module: {},
        require: require,
        },
        __webpack_public_path__: publicPath // eslint-disable-line camelcase
    };
`
And it's work, but... fails to resolve inner module because of sandbox context not moved deeper, and relative path (generated by previous loader) become invalid.

Now I trying to patch this crappy

[2017-02-05 10:07] maryo commented on #17
@VladimirGrenaderov: I was trying something simmilar before (I just modified the sandboxed require function a little bit). But I didn't realize how exactly it works. Now i see it. It needs to recursively track all the dependencies using the `loadModule` and `rndPlaceholder` before calling the first runModule.

[2017-02-05 13:55] VladimirGrenaderov commented on #17
@maryo so we need run sandbox with each inner module with right version of require, that nows about inner module context. But I have no idea how to extract inner module context information (or the reference to require function).

May be we should summon Tobias? Because exctract-loader is valuable part of webpack, and it just doesn't work with projects contains more 1 css file :(

[2017-02-08 23:19] VladimirGrenaderov commented on #17
@sokra, could you give us some advice? How to "extract" content of module with child requires without dirty hacks?

[2017-02-17 11:58] ohcibi commented on #4
Is there any progress on this? Currently this whole module appears pretty useless for a bundle that has css AND js files as it seems that one can either use hashed css-file names in the resulting html file or hashed js-file names but not both. I'm pretty sure that this is not the case but the lack of a thorough documentation leaves me clueless on how to do this properly.

[2017-03-27 17:16] gdub22 opened #18 "Fix loaderUtils deprecation warning"
See https://github.com/webpack/loader-utils/issues/56

[code]

I believe the solution is to bump the `loader-utils` dependency and use the `getOptions` method here  https://github.com/peerigon/extract-loader/blob/master/src/extractLoader.js#L30

[2017-03-31 13:54] jods4 commented on #2
@antarasi The problem is not in loading `styles.scss`.
I have a similar setup with LESS.
As soon as my main LESS file does one `@import "x.css"`, the second file is correctly found but I get the same `ReferenceError: require is not defined` as @e-cloud (same stack).

can `extraact-loader` only be used with single files (no dependencies, no `@import`)?

[2017-03-31 14:09] antarasi commented on #2
@jods4 I don't know if `extract-loader` can be used with single files only. Here you can find my setup, maybe you will find it usefull. Basically I am creating here another entry file that is used in html file:
[code]
[code]

[code]
[code]

[2017-03-31 14:27] jods4 commented on #2
That setup works for me... as long as you don't have `@import` in your scss.... do you?

[2017-03-31 14:39] antarasi commented on #2
@jods4 No, I do have imports. The only problem I've seen is that
all paths used in imported from subfolders scss files (for background images, fonts etc) are relative to main styles.scss.

For example in `/src/sass/partial/buttons.scss` i have to use paths relative to `/src/sass/`, not `/src/sass/partial` when `buttons.scss` is imported in `/src/sass/styles.scss`. This causes some IDEs to not reco

[2017-03-31 14:59] jods4 commented on #2
Yeah, I don't have problems with the resolving the imports (putting a wrong path show that it's a different error).

It's something different, as indicated [in this comment](https://github.com/peerigon/extract-loader/issues/2#issuecomment-197191224).

[2017-03-31 15:20] antarasi commented on #2
@jods4 Isn't this caused by importing scss files from node_modules or bower_components directory? I am using absolute path to make it work, for instance:
`@import "/node_modules/simplebar/umd/simplebar.css";`
`@import "~simplebar/umd/simplebar.css";` was not working.

[2017-03-31 15:24] jods4 commented on #2
maybe? That would be interesting to try.
But at this point I have switched to `ExtractTextPlugin`, I needed something that works ;)

[2017-04-09 15:07] wujekbogdan commented on #1
@sentika

This is my scss compilation/extraction section of my webpack config file:

[code]

And I can see sourcemaps, but instead of separate `.map` files (as they should be because of `devtool: '#source-map'` in the configuration file) they are merged into `*.css` files at the end of `*.css` files. There's an another side-effect: paths in sourcemaps are absolute (`c:/your/project/directory/file-

[2017-05-22 22:19] #18 closed

[2017-05-22 22:40] jhnns commented on #16
The error occurs because the extract-loader tries to derive the `publicPath` from `this.options.output`. If you use the `LoaderOptionsPlugin`, you extend the loader's `this` with your object. The `options` object provided by you does not have the `output` property, that's why there is an error.

The `LoaderOptionsPlugin` should only be used with webpack 1 loaders that read their options from `this

[2017-05-22 22:40] #16 closed

[2017-05-22 22:42] jhnns commented on #9
https://github.com/peerigon/extract-loader/pull/20/files provides a test case where html-loader interpolation is used, so that should be no error anymore.
Please re-open if there is still an error :)

[2017-05-22 22:42] #9 closed

[2017-05-22 22:47] jhnns commented on #17
I'll take a look if there's an easy fix 😁

I have to point out, however, that the extract-loader is designed for simple use-cases only. It has certain limitations. If you want to extract all kind of modules, you should use the [extract-text-webpack-plugin](https://github.com/webpack-contrib/extract-text-webpack-plugin).

[2017-06-25 20:13] VladimirGrenaderov commented on #17
@jhnns extract-loader helps to handle more complex cases: as en example, I need to access hashed css urls inside js to provide dynamic load in runtime. It's not possible with extract-text without patching bundled js files.

[2017-06-28 01:57] markbrouch commented on #10
Very late to the party 😄

@jpommerening This was the solution I came up with as well, but it doesn't seem to be working. I was wondering if you could take a look to see if I'm missing something obvious.

My webpack config module.loaders:
[code]

This generates the correct html files, but their contents are off. For instance, each html file will be something like:
[code]
...instead of the expected

[2017-07-12 20:17] VladimirGrenaderov opened #21 "Extra dependencies when aliases are using"
When extract-loader process result from css-loader, it creates dependencies inside sandboxed require:

var absPath = _path2.default.resolve(_path2.default.dirname(_this.resourcePath), resourcePath);
// Mark the file as dependency so webpack's watcher is working
_this.addDependency(absPath);

But if aliases (or other webpack features to redirect request) are used, resourcePath contains "raw" path,

[2017-07-21 18:48] themezzilla opened #22 "Glob multiple HTML files?"
I'm wondering if it's possible to pass multiple HTML files through `extract-loader`, as it does exactly what I want. I'm hoping to glob an entire directory so that all my images can be hashed.

Thank you!

[2017-07-25 14:13] purell commented on #22
I'm not sure to understand but why not using an html-loader follow by the extract-loader ?

[code]

Hope it will help you.

[2017-07-25 14:15] themezzilla commented on #22
Thank you! I actually ended up doing something very similar, by using an object at the entry :+1:

[2017-07-25 14:15] #22 closed

[2017-07-25 14:38] purell commented on #6
@heptahedron : I'm stuck since many days trying to extract JS (script) files from HTML. Here is my attemp to get help on [Stackoverflow](https://stackoverflow.com/questions/45286775/webpack-html-loader-extract-link-and-script).

@jhnns : Do you have any suggestion on how to use **extract-text-pluging** to achieve what we need ? I saw some PR related to this issue like #7, #20. Are they fixing the

[2017-07-27 13:15] danieldiekmeier opened #24 "Release v1.0.0 on npm?"
I noticed that you released the v1.0.0 here on GitHub, but on npm, the current version is still v0.1.0. The 0.1.0 has a problem with the `require`ing of files with additional loaders, and I think 1.0.0 will fix this.

This was the commit that changed the `require` to a working version: https://github.com/peerigon/extract-loader/commit/e7e361e5c5a841db105396bc663090fc495a4ca8#diff-453648f7ddcea53f5

[2017-07-28 08:04] jhnns commented on #24
Thanks for the heads-up. We had some problems with npm publishing rights but now its published 👍

[2017-07-28 08:04] #24 closed

[2017-07-28 08:43] benurb commented on #15
Hi @sime,

yep, that example used the untranspiled code that contains ES2015 imports. I've change that and in current master the example should work correctly (see 10fd464ee9a1970d6d6ae4d60db6c21c5735f8dd ). Thanks for your report 👍

Ben

[2017-07-28 08:43] #15 closed

[2017-08-08 05:19] DamianPereira commented on #9
Having a similar error, using extract-loader 1.0.0 (which has that PR as far as I can tell) and webpack 3.4.1.

I have an index.html with this:

    <link rel="stylesheet" href="${require(`./sass/base.scss`)}">

and I have this in my webpack.config.js

    test: /\.html$/,
      loader: [
        'file-loader?name=[name].html',
        'extract-loader',
        'html-loader?interpolate'

I get thi

[2017-08-19 17:22] #21 closed

[2017-08-19 17:30] jhnns commented on #21
Should be fixed with 1.0.1

[2017-08-19 17:50] jhnns commented on #6
@purell It's currently not possible with webpack to import a JavaScript file into an HTML file (via `<script src`).

This is because webpack has been designed as JavaScript bundler. Other file types, like CSS and HTML, need to be translated to JavaScript modules first. Unfortunately, this kind of import (JS into HTML) is not easy to achieve with the current architecture. However, we're looking for

[2017-09-18 06:52] andersk commented on #2
The problem seems to be `@import`, not SCSS. Minimal test case without SCSS:

### `webpack.config.js`

[code]

### `entry.js`

[code]

### `foo.css`

[code]

### `bar.css`

[code]

### Result

[code]

[2017-09-20 05:09] jezeniel commented on #2
@andersk's example is what i am experiencing, using `@import "foo.css";` returns the same error

[2017-09-25 13:05] gutnikov commented on #2
From extractLoader.js:

`/**
 * Executes the given CommonJS module in a fake context to get the exported string. The given module is expected to
 * **just return a string without requiring further modules**.
 *
 * @throws Error
 * @param {string} src
 * @param {string} filename
 * @param {string} [publicPath]
 * @returns {string}
 */
function runModule(src, filename) {
    var publicPath = argumen

[2017-11-24 11:44] MiMaMuh commented on #22
I have a question to this solution:

To go with the current example: When I have 3 different `html files`, but they share for example the same `main.css` file, is the `extract-loader` so smart to only bundle and execute the `main.css` once and simply use the cached bundle for the rest of the `html-files`, or does it execute and bundle the `main.css` 3 times?

[2018-01-14 03:09] cdac901 opened #29 "TypeError: require(...) is not a function"
Hi, I have this issue, I hope you can help me.
This problem is very curious since it was presented 2 days ago after deleting node_module and reinstalling the packages (I do not update any version packages or node), I describe:

App.jsx
[code]

webpack.config.js
[code]

command
[code]

Result
[code]

Thanks for your help

[2018-01-18 23:59] zxdong262 commented on #10
@markbrouch will you please share this config?

[2018-01-23 10:31] benurb commented on #29
Can you test if the problem is fixed when you replace `lib/extractLoader.js` with:

[code]

[2018-01-23 13:23] cdac901 commented on #29
Thanks, it works!

[2018-01-23 13:48] #29 closed

[2018-01-29 15:50] rurikbor opened #31 "extract-loader 1.0.2 doesn't work with css-loader v0.28.8"
Hi guys.

css-loader v0.28.8 implements url escaping: https://github.com/webpack-contrib/css-loader/commit/8897d44

extract-loader 1.0.2 has attempt to fix incompatibility: https://github.com/peerigon/extract-loader/commit/ac3fccdd6fb0302f2a87f8ab468f7395a4c74877#diff-453648f7ddcea53f5543562ba9bf0d3d

But it doesn't work in my case since css-loader injects relative url to css-base in my case:
This

[2018-01-29 15:53] rurikbor commented on #31
Forgot to add environment:
Windows10
node v6.11.2
webpack 3.10.0
extract-loader 1.0.2
css-loader v0.28.9

[2018-01-30 07:38] benurb commented on #31
Hi @rurikbor
Thanks for your detailed analysis. Yes, the relative paths seem to be a problem, which should be fixed by #30 .
I hope @jhnns finds time to review it in the next days, so he can push out a new release :)

[2018-02-16 09:02] wearemetabolism commented on #1
Is there any ETA ?

[2018-02-26 18:06] mtraynham opened #32 "Support Webpack v4"
I'm getting the following error:

[code]

This points to the line https://github.com/peerigon/extract-loader/blob/master/src/extractLoader.js#L31, which seems `this.options.output` is no longer defined.

According to the v4 migration guide ([here](https://medium.com/webpack/webpack-4-migration-guide-for-plugins-loaders-20a79b927202)), `this.options` has been removed.  Instead of loader-utils and c

[2018-02-27 03:12] vhmth commented on #32
This fails in v3 (`3.9.1`) as well. Setting to `options: { publicPath: null }` worked too!

[2018-03-05 01:45] danielmeneses commented on #32
@mtraynham you are right that solves partially, but I had to set "publicPath" as an empty string otherwise it will concat "null" to all paths if you are using "html-loader" to process paths from lets say "img:src".

[2018-03-18 14:55] jhnns opened #35 "Remove access of `this.options` and `this._compilation`"
Since these properties have been deprecated and partly removed with webpack 4, we should not access them with the next major release.

See also https://github.com/peerigon/extract-loader/pull/33#discussion_r175291644

[2018-03-18 14:59] jhnns commented on #32
Thanks for pointing out 👍. We're about to ship a fix for this, see [PR](https://github.com/peerigon/extract-loader/pull/33).

[2018-03-19 23:47] #32 closed

[2018-03-20 00:22] rettgerst opened #37 "v2.0 NPM release does not contain any code"
[code]

[2018-03-20 01:56] jperocho commented on #37
Same problem when updated my npm packages.

[2018-03-20 07:36] vladimiry commented on #37
I confirm that, main script is pointed to nonexistent file `"main": "lib/extractLoader.js",`.

[2018-03-20 10:51] benurb commented on #37
Thanks for the report. This should be fixed with v2.0.1
Sorry for the inconvenience 😞

[code]

[2018-03-20 10:51] #37 closed

[2018-03-20 15:08] benurb commented on #31
This is fixed with v2.0.1 🎉
Thank you for the report and sorry for the delay.

[2018-03-20 15:08] #31 closed

[2018-04-16 00:32] vhmth commented on #32
🎉

[2018-05-13 14:37] battlesnake commented on #10
@markbrouch : I have the same issue, did you ever resolve it?

[2018-05-13 20:46] battlesnake opened #39 "Reference cycles cause no output to be generated"
I've provided an example in a [git repository](https://github.com/battlesnake/webpack-extract-cycles-bug) and a description in the README in that repo.

Quoting the readme:

This bug can be triggered by reference cycles.

Since each reference is just resolved to a filename rather than the target's contents (unless hashes are present in filenames), it should be possible for it to work properly.

Th

[2018-05-13 23:49] zxdong262 commented on #10
this one works
[code]

[2018-05-13 23:56] battlesnake commented on #10
I found that my problem wasn't due to configuration, it was a bug regarding circular dependencies which I've logged separately with an example #39

[2018-06-29 14:38] benlind commented on #2
I'm getting the same "ReferenceError: require is not defined" error when importing a css file from an scss file. Are there any workarounds for this?

[2018-07-04 00:19] willin opened #41 "sass compile with css: require is not defined"
ref: https://github.com/webpack-contrib/sass-loader/issues/584

[code]

source: https://github.com/wshow/sass-demo

[2018-08-31 15:08] #1 closed

[2018-08-31 15:41] jhnns opened #44 "Use async/await in tests instead of promises"
Our eslint rules prefer `async/await`. We should refactor our tests to use `async/await` so that we can remove the `eslint-disable` comment

[2018-08-31 16:09] jhnns commented on #17
You can try out `v3.0.0`. It tries to evaluate the dependency graph as deep/far as possible. If it doesn't work, your use case is probably out of scope for this loader :(

[2018-08-31 16:09] #17 closed

[2018-08-31 16:10] jhnns commented on #2
Has been fixed with `v3.0.0` 🚀

[2018-08-31 16:10] #2 closed

[2018-08-31 16:11] jhnns commented on #1
@jstrimpel I tried to explain it to you how to fix it. On the way explaining it, I found the solution for the problem 😁

Shipped with `v3.0.0` 🚀

[2018-08-31 16:11] jhnns commented on #41
Thanks for providing the test case. That really helped a lot 👏

Fixed with `v3.0.0` 🚀

[2018-08-31 16:11] #41 closed

[2018-08-31 16:12] jstrimpel commented on #1
@jhnns Thank you so much!

[2018-09-23 17:33] borela opened #46 "SyntaxError: Unexpected identifier"
I am loading an HTML file through the latest HTML loader(@1.0.0-alpha.0) and extract loader(@3.0.0):

[code]

I created a plugin to peek at the result from the HTML loader, it is as follows:
[code]

When the extract loader tries to execute this code, the error message is as follows:

[code]

[2018-09-24 08:20] g1un opened #47 "Since 3.0.0 version get "Error: Cannot find module" when using file paths with '~'"
Hie!
This is my project https://github.com/g1un/path-resolve-issue
I added "src/fonts" to my resolve.modules in webpack.config.js (https://github.com/g1un/path-resolve-issue/blob/test/webpack.config.js#L33) and tried to use fonts with path with '~' (https://github.com/g1un/path-resolve-issue/blob/test/src/scss/components/_fonts.scss#L4).
It works with extract-loader@2.0.1, but do not with extract-

[2018-09-27 07:55] g1un commented on #47
Ended up using https://github.com/webpack-contrib/mini-css-extract-plugin.
It works with '~' properly.

[2018-09-27 18:34] mattclough1 commented on #29
I'm actually seeing this problem in 3.0.0?

[2018-10-03 16:40] philostler commented on #47
Also hitting this ATM.

[2018-10-06 16:19] gombosg opened #48 "ModuleNotFoundError when using @import-s in CSS"
I get the below error when using `extract-loader` after `css-loader`. It seems that it messes up relative paths and wants to find a module by one folder higher in the path hierarchy - but `css-loader` is working fine, if you comment out `extract-loader` in the Webpack config file you can see its output in the `dist` folder.

Please advise. Here's a tiny repro repo:
[extractLoaderCssError.zip](http

[2018-10-25 05:52] HairyRabbit commented on #48
:)
any update about this ? I got the same issue

[2018-10-29 07:35] andrejpavlovic opened #50 "Calculation of indexOfQuery incorrect"
https://github.com/peerigon/extract-loader/blob/fb7139af56bb9b61fa6779257b33857b28446ef3/src/extractLoader.js#L93-L95

Shouldn't this be `Math.min` not `Math.max`? Otherwise we might as well write:
[code]

I've rolled back to 2.0.1 in order to use oneOf/resourceQuery in webpack config until this is fixed.

[2018-10-30 19:18] andresgarza commented on #50
I'm also having issues with this bug.

[2018-11-17 15:30] ugrg commented on #50
const relativePathWithoutQuery = givenRelativePath.replace(/(\S+)(?:\?\S+)/,"$1");

[2018-11-27 03:45] malash commented on #48
I guess it is a bug related to https://github.com/browserify/resolve/issues/177

I also created a [temporary bug fix](https://github.com/malash/extract-loader/commit/37f4feb80d69d011754b8b01424248e2128c4e27) for `extract-loader`. If it works for you please let me known. Thanks.

@gombosg @HairyRabbit

[2018-11-28 10:14] bc-lee opened #52 "Please Re-Release version 3.1.0"
It seems like the recent release(3.1.0) does not including latest commit.(678933e)

For example, `getPublicPath` of https://unpkg.com/extract-loader@3.1.0/lib/extractLoader.js does not changed since 3.0.0.

[2018-11-29 13:11] dimitarnestorov opened #53 "Cannot import files when using a resource query"
![image](https://user-images.githubusercontent.com/8790386/45590214-4a44cf80-b93c-11e8-9d7a-20c227586155.png)

If I omit `?external` it imports the image but inline, forcing me to use data URIs.

I created a repository showcasing the issue: https://github.com/dimitarnestorov/sass-loader-resource-query-test

At first I thought the problem was in sass-loader so I opened an [issue](https://github.com

[2018-11-30 17:19] gombosg commented on #48
Well I was just using Mini CSS Extract Plugin in the meantime. Tried your fix but it didn't really work, got the same error. But maybe my setup was wrong.

[2018-12-10 14:25] Lattyware opened #54 "Produced URL is "undefined" rather than expected URL."
I have [a bug](https://github.com/webpack-contrib/css-loader/issues/864#issue-389031313) that surfaced after updating `css-loader`, but is apparently a bug in `extract-loader`.

The issue:

And the response from the `css-loader` project - I assumed it was a problem on their end as it surfaced with the updated version, but apparently not:

[2018-12-11 15:49] ckrjq commented on #53
I encountered the same problem when trying to include `@mdi/font`, which also use a query-param:

sass file:
[code]

webpack config (relevant part):
[code]

Error message:

`Error: Cannot find module '@mdi/font/fonts/materialdesignicons-webfont.eot?v=3.2.89' from '/srv/s/website-poc/src/styles'`

[2018-12-11 16:33] dimitarnestorov commented on #53
@ckrjq can you test my pull request?

In your `package.json` change `extract-loader` to be `dimitarnestorov/extract-loader#be04fb0496be7ccd946618c423366e9611ff45af` like so:
![image](https://user-images.githubusercontent.com/8790386/49814774-044cab80-fd73-11e8-9b32-b883b9e33f6a.png)

Then just run `yarn`/`npm install` to install that version and run webpack.

[2018-12-11 16:52] ckrjq commented on #53
Tested. This fixes my issue.

[2018-12-14 18:47] bdwain commented on #47
I am seeing this issue too, and it's with an HTML file so the mins-css-extract-plugin doesn't work :(

[2018-12-20 15:43] bjudson opened #56 "Rename file? (support request)"
Is there a way to rename the output file? For instance, I have a simple SCSS file that I want extracted to `[hash].css`. Currently:

[code]

And I'm getting a file named `[hash].scss`. Do I need to add another loader to change the filename output?

[2019-01-13 12:56] zacharyrs opened #57 "[help] issues with html-loader interpolation"
Hi,

I'm in the works of developing my own static site generator that relies on pug templates, and markdown content.

I use webpack to bundle the precompiled pug (i.e. html) files, along with css+js, and also to process images etc.

I'm facing an issue using html-interpolation, such that the output bundle has `undefined` for image sources etc.

For reference, the compiled HTML looks as such:
[code

[2019-01-15 22:02] zacharyrs commented on #57
Probably related to #54.

[2019-01-22 16:16] Jthomas-Roto commented on #50
I'm also having issues with this. Rolling back to 2.0.1 as well.

[2019-03-20 09:54] arturaum commented on #53
@dimitarnestorov thats works! Useful!

[2019-04-12 14:50] zmagyar commented on #48
@malash the browserify bug seems to be fixed but this one or at least #47 still persist. Shouldn't that gone away as well?

[2019-04-15 10:01] ranwawa opened #58 "require is not a function when using with html-loader"
[code]

[code]

[code]

[code]
--------------------------
it's will be ok
- when i removed the `attrs: [':data-href'],` in the webpack.config.js

- when i removed the `data-href="./test.css"` in the index.html

[2019-08-08 15:59] js2me commented on #29
Still see same problem in 3.2.0

[2019-11-18 07:43] malash opened #65 "`@import` doesn't work well with symlinks"
I created a reproduce demo here https://github.com/peerigon/extract-loader/pull/64/files

In this case the `main.css` imports `common.css` which is a symlink to `symlinks/common.css`.

[code]

The Webpack build failed because the `basedir` in `resolve.sync` was wrong.

https://github.com/peerigon/extract-loader/blob/c82150a30d72b977871ffc89e8db8ccb7e97a362/src/extractLoader.js#L101

![image](https

[2019-11-18 09:44] yenshih commented on #54
Severe bug...
Any updates? May I take charge of this repo if it's currently unmaintained? @jhnns

[2019-12-03 09:33] army8735 commented on #58
face the same problem

[2019-12-04 02:31] alqh commented on #50
I've open a PR to solve this issue, is anyone able to review and push it through?

[2019-12-09 01:59] carsonreinke opened #67 "SyntaxError: Unexpected token export"
Using the [example](https://github.com/peerigon/extract-loader/blob/master/examples/index-html/webpack.config.js) with Node v8.15.0 produces the error `SyntaxError: Unexpected token export`
at `node_modules/extract-loader/lib/extractLoader.js:81:28`.

The line 81 is trying to parse the source:
[code]

Here is the full stack:
[code]

[2019-12-09 16:48] stassribnyi commented on #67
I believe it's related to [file-loader](https://github.com/webpack-contrib/file-loader/releases) also.

I've encountered the same issue with file-loader of version 5.2.0, so I rolled back to version 4.3.0 and it works like a charm, still didn't try [5.0.0, 5.1.0], so not sure which version starts causing a problem.

[2019-12-09 17:19] carsonreinke commented on #67
@stassribnyi correct sir, downgrading fixed the issue.  When I look at the source being provided, it is ES5 instead of ES6.  I believe an adjustment to this project could help too.

[code]

[2019-12-09 18:29] carsonreinke commented on #67
Looking at solving this.  The issue is simple VM (just like CLI) for Node will not interpret ES6 import/export statements.  Copying and pasting the code ES6 code above will produce an error on any Node CLI versions.

One solution would to have Babel transform this, since there is already an odd dependency on babel-runtime 6.

Another would be to write the script to file and run it and extract the

[2019-12-19 10:28] yenshih commented on #54
Still no response? :(

[2019-12-23 14:25] cybercase commented on #67
I bumped into this issue too.
Looking at the file-loader changelog for v 5.0.0 [here](https://github.com/webpack-contrib/file-loader/releases) I read they've switched ES modules by default.
To restore the pre-version-5 behaviour now we need to explicitly disable the ES modules, by setting `esModule: false` into the loader's options.
I just wonder how it's working fine for them

[2019-12-24 00:32] carsonreinke commented on #67
@cybercase yes, looks like that is an option https://github.com/webpack-contrib/file-loader#esmodule.

[2020-01-01 07:56] DavidKk opened #70 "extract-loader and css-loader sourceMap is undefined"
### Issue

i use `extract-loader` and `css-loader` to generate source map, but the `sourceURL` always prepend a`undefined`

[code]

### Reason

I found that `sourceRoot` does not necessarily exist, sometimes it equals `undefined`.

I look for some codes, and found that https://github.com/peerigon/extract-loader/blob/master/src/extractLoader.js#L141, it uses `extractExports` function to transform,

[2020-01-01 08:31] DavidKk commented on #70
Report wrong place, i have been forward to css-loader... https://github.com/webpack-contrib/css-loader/issues/1034

[2020-01-01 08:31] #70 closed

[2020-01-06 11:38] LZQCN commented on #67
[code]
Maybe it's useful to insert this code in the right place.
The question is where to insert it?

[2020-01-06 13:55] carsonreinke commented on #67
@LZQCN are you suggesting instead of Babel just using this regex?  Is it that simple?

[2020-01-07 09:05] cybercase commented on #67
@carsonreinke To deal with the new file-loader version, yes, it would be that simple. However, there's a past PR ( #26 ) where the maintainer already discussed a fix of this kind, and expressed the willing to use babel for proper transpilation, so I've opened a PR ( #69 ) to handle es modules using babel.
I'm waiting for feedback.

[2020-01-10 18:18] pbowyer commented on #67
After too many hours trying to work out why my Webpack config kept failing, I am _very glad_ to have found this issue.
[code]
Rolling back to `file-loader@4.3` fixed the problem for me

[2020-01-11 02:22] LZQCN commented on #67
`html-webpack-plugin` can parse esModule, The trick may be in this code:
[code]

[2020-01-14 14:30] klesun commented on #54
@yenshih, if you are capable of taking charge of this project, would you mind filing a Pull Request to fix this issue, please? You are our only hope apparently.

[2020-01-15 02:04] yenshih commented on #54
I've forked a repo and published `extract-text-loader`. @klesun

[2020-01-15 05:57] klesun commented on #54
Oh, cool, thanks, I guess [this](https://www.npmjs.com/package/extract-text-loader) is it.

[2020-01-27 10:24] jhnns commented on #67
Thanks for reporting ❤️. We're working on this (and other) issues.

[2020-01-28 07:53] SidKumarSingh opened #71 "Error can't resolve extract-loader"
I have a project which works fine with extract-loader 3.1. Upgraded to extract-loader 4 today morning and now it won't compile. Webpack fails with the following error

Attaching a sample webpack config file which gives error on extract-loader 4 but works fine on 3.1.0
[webpack.config.js.txt](https://github.com/peerigon/extract-loader/files/4121220/webpack.config.js.txt)

[2020-01-28 07:54] SidKumarSingh commented on #71
![image](https://user-images.githubusercontent.com/740799/73245109-7a0f1300-41d1-11ea-91f8-e1a89bca6d1d.png)
Attached error msg in console

[2020-01-28 07:56] SidKumarSingh commented on #71
Confirmed error persists in 4.0.1

[2020-01-28 07:57] jannikkeye commented on #53
Fixed in #66

[2020-01-28 07:57] #53 closed

[2020-01-28 08:00] alqh commented on #50
This issue should be resolved now with the merge of PR

[2020-01-28 08:01] alqh commented on #50
@jannikkeye  Can you please mark this issue as resolved too?

[2020-01-28 09:08] jannikkeye commented on #50
@alqh Yes, sorry, an oversight on my part 👍

[2020-01-28 09:08] #50 closed

[2020-01-28 14:21] osaton commented on #71
4.0.1 Package folder only contains these files
- CHANGELOG.md
- LICENCE
- package.json
- README.md

[2020-01-29 01:05] r-hannuschka commented on #71
This is an issue since 4.0.0 with 3.x.x the library exists :D But well hopefully there will be an update soon.

[2020-02-03 16:53] tholman commented on #71
Fixed as of `4.0.3`

[2020-02-09 04:00] rodrigoyoshida commented on #67
Same here, unfortunately the `esModule: false` option did not work for me.

[2020-02-09 09:22] cybercase commented on #67
@rodrigoyoshida I don't know the exact version of the `file-loader` you were using before, but I've found that they fixed a typo in v. 5.0.1 about the name of `esModule` option. https://github.com/webpack-contrib/file-loader/pull/346
Maybe updating to the latest version could make the `esModule: false` option work?

[2020-02-11 12:10] bighamD opened #72 "loaderContext.loadModule API throw error when using with css-loader"
[code]

My demo:
![image](https://user-images.githubusercontent.com/41603686/74235275-92bb1500-4d09-11ea-8fbf-56ddc7873ef5.png)
[code]
when run script npm run build:

Below are error message:

![image](https://user-images.githubusercontent.com/41603686/74235587-563be900-4d0a-11ea-8736-bed629f65d63.png)

[code]

[2020-02-12 01:41] carsonreinke commented on #67
@cybercase @rodrigoyoshida looks like definitely v5.0.2 has it fixed https://github.com/webpack-contrib/file-loader/blob/v5.0.2/src/index.js#L63

[2020-02-12 19:37] thequailman commented on #67
Still seeing this with 5.0.2, I think:

[code]

[2020-02-17 21:50] kevincox commented on #67
Are there any plans to support es modules in the extract-loader?

[2020-02-24 18:10] carsonreinke commented on #67
@thequailman I was able to get it to work and created this example: https://github.com/carsonreinke/extract-loader-67

@kevincox yes, @cybercase was kind enough to put in a PR #69

[2020-02-25 11:57] kamleshlikhare commented on #67
///  esModule: false, will solve your issue
{
 loader: "file-loader",
              options: {
                name: "images/[name]-[hash:8].[ext]",
                esModule: false
              },

            }

[2020-02-25 13:58] carsonreinke commented on #67
@kamleshlikhare you don't need all the `name` stuff, just enabling option `esModule`.

Wondering if there is a way to enable that globally...

[2020-03-03 13:51] scott-ln commented on #67
The `esModule: false` solution isn't working for me, although I'm not very expert at package management and not sure if `file-loader@5.0.2` is actually being used when I run my build, since older versions are present in the tree.

    scott@laptop MINGW64 ~/project (master)
    $ npm ls file-loader
    project@1.0.0 C:\Users\scott\project
    +-- UNMET PEER DEPENDENCY @storybook/react@5.3.14
    |

[2020-03-03 15:54] carsonreinke commented on #67
@scott-ln well, you can't use 4.0.3, so you probably need to tweak those dependencies to get it up to >=5.0.2.  Try setting file-loader dependency to `=5.0.2` and see what happens.

[2020-03-03 18:23] Luiz-Monad commented on #67
Isn't doing what the val-loader does better ?

[code]
https://github.com/webpack-contrib/val-loader/blob/master/src/index.js#L10-L23

Or the Module would suffer from the same problem?

[2020-03-03 20:12] Luiz-Monad commented on #67
After reading the WebPack to understand what happens after the File-Loader.
The file-loader is called by the Load-Runner from the NormalModule when the build happens.
After it the Acorn Parser runs and produces AST for the Harmony.
So we are at loss, there's no way to make webpack do that for use, because all "export default" is stripped when WebPack convert the output its Harmony dependencies.
Th

[2020-03-03 20:44] carsonreinke commented on #67
@Luiz-Monad I think you might be reading into a bit much, the problem is simple, `vm.Script` does not support `import` syntax, just like the Node REPL.  It is used here: https://github.com/peerigon/extract-loader/blob/master/src/extractLoader.js#L98

Will that `Module` work?  MAYBE!  I have not heard of it before, but it could be a better option then Babel.

[2020-03-03 21:58] Luiz-Monad commented on #67
Actually I was over-complicating things.

I discovered this file.
https://github.com/jantimon/html-webpack-plugin/blob/master/lib/compiler.js

I just took this file and turned it into a loader, it does exactly what I needed.
I need it to process exactly like webpack would do it, that's why I was thinking in a Child Compilation.
It does indeed solve the problem with modules.

[2020-03-04 04:19] simonppg commented on #67
Rolling back works for me, thanks

[2020-03-04 11:10] scott-ln commented on #67
@carsonreinke wrote:

Sorry, I'm not sure what you mean? 4.0.3 is the latest version of extract-loader, not file-loader (which is installed at 5.0.2 in this scenario).

[2020-03-05 13:12] goto-bus-stop opened #75 "Missing Babel dependencies in 5.0"
There are a few issues with #69 and the 5.0 release. The babel config uses relative preset/plugin names like `"env"`, which causes babel to resolve it relative to the _project_'s directory, not the directory where extract-loader is installed. If the user's project does not use Babel 6, or uses a different version, that is a problem.

The fix for that is to do `require('babel-preset-env')` in the b

[2020-03-06 05:44] geonanorch commented on #54
Thanks @yenshih , the new `extract-text-loader` fixed it for me.
I saw that there are new commits from @jhnns  on `extract-loader`, so there is still hope that this issue gets fixed at the source and remove the need for a clone.

[2020-03-06 14:18] #75 closed

[2020-03-14 15:13] carsonreinke commented on #67
@scott-ln :man_facepalming: , sorry

@Luiz-Monad it sounds like this might be a better solution to using Babel, do you have anything you can share and we could possible get a PR together?

[2020-03-18 08:00] jhnns commented on #67
The issue should be solved with [`v5.0.0`](https://github.com/peerigon/extract-loader/blob/master/CHANGELOG.md#500-2020-03-05). Please re-open if that's not the case.

[2020-03-18 08:00] #67 closed

[2020-03-22 03:35] mnpenner commented on #67
@Luiz-Monad Can you elaborate a bit? It sounds like you're trying to do exactly what I'm trying to do.

I was trying to harvest some code from `val-loader` but even after I hacked around the "Unexpected token export" its choking on the next thing because webpack hasn't finished processing my file.

i.e., I want the evaluated/executed version of a file.

How did you convert [compiler.js](https://gi

[2020-03-26 19:04] Luiz-Monad commented on #6
Its not impossible, just hard, you can create a loader that uses emitFile to emit the JS and remove it from the HTML. Its easily doable using the posthtml.

[2020-03-27 20:02] michaeldietiker opened #78 "Shouldn't sourceMaps be ignored if the devtools option is set to false?"

[2020-04-05 08:23] benjaminpreiss opened #79 "Import error with ES6 js script embedded in html body"
- Operating System: Windows 10 Pro
- Node Version: 13.12.0
- NPM Version: 6.14.4
- webpack Version: 4.42.1
- html-loader Version: 5.0.1

### Expected Behavior
html-loader should process `index.html` and pass the embedded ES6 js script to babel loader.
### Actual Behavior
Running `npx webpack` resp. `npm run webpack` returns this error:

[code]
### Code

[**webpack.config.js** and  **package.json**

[2020-04-21 07:42] YujieCheng opened #80 "working incorrect with html-loader@1.1.0"
config in webpack.js
[code]
next code is I want to handle
[code]
when I use html-loader@1.1.0 ,the result is
[code]
how reslove this problem ,should I use the previous version of  html-loader?

[2020-04-21 20:30] wizardion opened #81 "Doesn't work with aliases properly"
When WebPack has aliases propery:
[code]
and `extract-loader` is being used with an `html-loader`
[code]
end temple that uses aliases `default`:
[code]
`extract-loader` - gives me an error:
[code]

But with the same configuration and old version `"extract-loader": "^2.0.0"` - everything is working just fine!
Is there something wrong happening with the extract-loader?

[2020-04-23 01:13] vseventer commented on #81
@wizardion I ran into the same issue, caused by `extract-loader` attempting to resolve requires without considering aliases.

I forked the repo and fixed this issue - you can always try and giving it a spin to see if it works for you as well.

[2020-04-23 12:49] wizardion commented on #81
@vseventer I resolved my problem by getting rid of this horrible `extract-loader` in my main HTML file template. The `extract-loader` also brokes my AngularJS templates in my project.
I used it only for `ejs` variables in my main HTML template, within such configuration:
[code]
So I changed the main template of my application to `*.ejs` file extension to allow my `HtmlWebpackPlugin` to serve the t

[2020-05-08 09:26] YujieCheng commented on #80
Nice! it solve the question.

[2020-05-08 09:26] #80 closed

[2020-05-14 15:55] mbibko opened #84 "undefined image src if image used twice in html"
webpack.config.js
`module.exports = {
  mode: 'development',
  module: {
    rules: [
      {
        test: /\.html$/i,
        use: ['file-loader?name=[name].[ext]', 'extract-loader', 'html-loader'],
      },
      {
        test: /\.jpg$/,
        use: ['file-loader?name=[name].[ext]'],
      }
    ],
  },
};
`
src/index.js
`import './index.html'`

src/index.html
`<img src="img.jpg">
<img src="i

[2020-05-19 14:10] vseventer commented on #84
@mbibko Fixed in #83

[2020-05-26 06:53] #54 closed

[2020-05-26 07:40] jannikkeye commented on #57
@zacharyrs can you verify that the latest changes fixed this issue?

[2020-05-26 12:18] zacharyrs commented on #57
I'm a little busy with uni at the moment, but I'll check it ASAP in the next couple of weeks!

[2020-05-30 18:45] marapper opened #85 "v5.2.0 breaks parts of code loaded with ref-loader"
We use extract-loader to compose template files like this:

[code]

After upgrade extract-loader to v5.2.0 whole code part after `$` is not included in result file. Downgrade extract-loader to v5.0.1 only works fine.

e.g. produce

[code]

I suppose it's regex-relative thing.
Probably somewhat connected with #57 and #54 ()

[2020-06-04 16:36] cecilia-sanare commented on #79
Created a small example application that produces a similar error.

https://glitch.com/edit/#!/melted-bitter-music

[2020-06-28 03:20] juanca commented on #4
It's been a minute but I wanted to see if anyone has any insight into this. Here's a concrete example (which inlines the extracted contents into the html file):

[code]

This doesn't scale since it does not get the extracted content from the `index` entry -- and I don't believe I have figured out how to do that.

[2020-07-01 14:50] ohcibi commented on #4
Mö

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-09-21 03:05] jinmingpang opened #92 "Update dependencies to babel7."
Hope update the dependency packages to the latest babel7~ :)

[2020-10-09 03:15] calebd-anderson opened #93 "style="background-image: url('file');" not parsed"
style attribute with background-image: url() is not parsed.

[2020-10-09 03:19] calebd-anderson opened #94 "could there be boolean option to ignore .js files?"
Maybe a boolean option could be set to exclude .js references in a document.

[2020-10-17 14:45] Magi-KS opened #95 "Webpack 5.1.3 and PublicPath auto"
Webpack: **5.1.3**
extract-loader: **5.1.0**

there's this PR https://github.com/webpack/webpack/pull/11258 that was merged and released as part of Webpack 5.1.3 which changes the default `publicPath` option to `auto`.

and `getPublicPath` function that refers to the variable in [this line](https://github.com/peerigon/extract-loader/blob/master/src/extractLoader.js#L218)

which result in `require(

[2020-11-01 03:14] isaacl opened #96 "Generating "[object Object]" for placeholders..."
I'm hitting a weird bug w/ html-loader, possibly related to webpack 5?  Any ideas/suggestions?

Thanks!
-Isaac

**[Test repo](https://github.com/isaacl/extract-loader-test)**

[code]

output:
[code]

[2020-11-02 00:33] isaacl commented on #95
yeah not sure either.  Possibly the following is correct, but I'm not sure if that makes extract-loader handle 'auto' correctly:

[code]

[2020-11-02 08:40] terox commented on #96
Hello!

I am experimenting the same issue in this repo.

Related: https://github.com/webpack-contrib/html-loader/issues/329

[2020-11-02 14:32] isaacl commented on #96
@terox I had two issues in my package.
1) extract-loader does NOT handle script src properly.  Solution: use absolute links to make html-loader ignore them, or turn them off in html-loader options
2) You cannot combine extract-loader with minicssplugin.

Here's my current config, which works. https://gist.github.com/isaacl/64f689595ad5fb959b0565cc50514ae2

I also wrote this hacky script to fix the

[2020-12-16 13:36] edariedl opened #99 "Extract loader doesn't work with css-loader 5.x"
Issue was originally raised in css loader from someone else https://github.com/webpack-contrib/css-loader/issues/1215. It was closed as a problem in `extract-loader`. I have encountered the same problem today.

css loader changed the way css with sourcemaps are handled and they have added this method https://github.com/webpack-contrib/css-loader/blob/master/src/runtime/cssWithMappingToString.js

W

[2021-01-05 10:09] thecreazy commented on #99
same problem !

[2021-01-12 17:05] terox commented on #96
@isaacl I updated my master branch with a couple of useful PR from the main project that fix this issue and alises: https://github.com/terox/extract-loader

[2021-01-19 13:29] isaacl commented on #96
@terox This project just wasn't maintained well enough for me.  So I moved on to rollup, which had better support, and then I moved again to [vite](https://github.com/vitejs/vite), which I think has the best current tooling and support.

[2021-02-16 11:36] IgnusG commented on #95
@isaacl tried it with `patch-package` (since it's the only package that was broken for me in webpack@5) and it worked well for now

[2021-02-16 11:48] IgnusG commented on #95
Here's the `favicons-webpack-plugin`'s commit that addresses a similar issue https://github.com/jantimon/favicons-webpack-plugin/commit/7293186bc6887352a3d31c80f4671c10734a44fb
I think the solution is fairly similar to the above one

[2021-03-24 17:29] jdferreira opened #102 "SyntaxError: unknown: Unexpected token (import)"
I'm not sure what the correct forum is to ask for help; if you think this is not the place, please direct me towards a better alternative.

I'm starting to learn webpack, following a tutorial which uses html-loader, extract-loader and file-loader. When I apply the extract-loader to an HTML file that depends on a CSS and JS file, webpack seems to be unable to compile the HTML:

Here's a snippet of

[2021-04-20 23:59] eliseumds commented on #99
Anyone's got a fix?

[2021-04-22 19:46] yossi-nagar commented on #102
It happens to me too. Any advice?

[2021-05-05 08:18] Artur- commented on #48
This is still broken in the same way with the latest version (5.1.0).

Applying the fix in https://github.com/malash/extract-loader/commit/37f4feb80d69d011754b8b01424248e2128c4e27 does not seem to change anything

I created an up-to-date test case in https://github.com/Artur-/extract-loader-import-fail

[2021-05-09 22:13] teeramusic commented on #102
I'm having the same problem

[2021-05-12 08:41] nielslerches commented on #102
I also have this problem.

[2021-05-12 08:48] teeramusic commented on #102
I thought webpack looked really awesome but because of this I have to go back to grunt lol

[2021-05-13 17:07] StudioMaX opened #107 "Is this loader maintained?"
I apologize for asking this question.

Now this loader has several unresolved issues related to webpack 5.x (https://github.com/peerigon/extract-loader/issues/102, https://github.com/peerigon/extract-loader/issues/95) and css-loader 5.x (https://github.com/peerigon/extract-loader/issues/99). The last commits were in May 2020.

I recently started upgrading to webpack 5 due to a recently discovered

[2021-05-19 22:09] boroth commented on #81
Can we get this PR merged in and released? I'm having the same alias issue.

[2021-06-04 18:19] herundina commented on #102
I have the same problem here when I trying extract a html that depends on a CSS and Js file.

Help me, please.

[2021-06-17 18:26] xenobytezero commented on #99
Also hit this issue today. Spent half a day trying to tweak `extract-loader`, half trying to move to Snowpack. Neither was a success.

I'm using it as part of a `sass-loader` -> `css-loader` -> `extract-loader` -> `lit-scss-loader` chain, and is the core of my workflow so really want this to work again.

 My Webpack internals logic is lacking so I was just kind of flailing, would be happy to try a

[2021-06-21 20:59] tlusk commented on #102
Disable the ES modules syntax in `html-loader`.
https://webpack.js.org/loaders/html-loader/#esmodule

[2021-08-09 21:21] alexbainter commented on #102
@tlusk Thank you!!

# Solution
[code]

### Explanation
extract-loader is transforming modules with [babel-preset-env](https://github.com/babel/babel-preset-env) (deprecated) which doesn't recognize some of the newer syntax features. I'm guessing https://github.com/peerigon/extract-loader/pull/109 will resolve this issue, but for now disabling `esModule` in html-loader also works.

[2021-08-16 06:39] CarterPape commented on #102
I tried disabling `esModule` but now get a different error, still coming from `extract-loader`.

[code]

[2021-08-25 08:30] jyp114110 opened #111 "webpack5 use extract-loader to extract html file,but extract-loader always report error."
I use html-loader and extract-laoder to extract html file, but extractorLoder.js always report errors. My config is:
`const pathToIndexHtml = require.resolve("./src/file.html"); const pathToMainJs = require.resolve("./src/index.js"); module.exports = { entry: [ pathToMainJs, pathToIndexHtml ], output: { assetModuleFilename: "[name][ext]", }, module: { rules: [ { test: pathToIndexHtml, type: "asset

[2021-08-28 05:52] shoaibsharif commented on #111
I am also facing the same issue. Did you find an workaround?

[2021-10-21 16:42] GiantTreeLP commented on #111
Set `esModule` to `false` in both `html-loader` and `css-loader`

[2021-12-20 00:22] qazaqstan2025 opened #112 "[Security] Workflow release.yml is using vulnerable action actions/checkout"
The workflow release.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2

[2022-01-04 19:15] marapper commented on #85
#83 connected

src/extractLoader.js:175

should be

[code]

because replace callbacks ignore special sequences like `$'`

[2022-07-22 14:03] prionkor commented on #102
I am not using html-loader still get this issue.

[2022-08-10 19:26] broken commented on #102
@prionkor You are using some module that is running the extract-loader. In my case it was the extract-loader after css-loader. Setting the option `esModule: false` on the css-loader I believe would've worked, but I turned off loaders in general for urls using the option `url: false`

[2022-09-20 21:07] MaximeCheramy commented on #107
I'm using this project because I need to extract the CSS as a file to pass it to a library that requires a CSS URL.

Is there any alternative to achieve this? Seems that css-loader is generating a JS file, so I can't use it as a resource directly. And I don't think that I can use mini-css-extract-plugin for this.

Edit:

Fixed by replacing css-loader > extract-loader by simply using postcss-loader

[2022-09-21 22:24] richallanb commented on #102
Any update on getting #109 and/or #108 merged or has this loader been abandoned?

[2022-11-15 13:27] denizguzel commented on #107
Yeah I was using the css-loader and extract-loader too but it seems unnessesary. Below code just works fine without css-loader and extract-loader.

[code]